#projects {
  height: 100%;
  padding-bottom: 2rem;
  background-color: var(--background-color-2);
}

#projects .projects-container {
  width: 95%;
  margin: 0 auto;
}

#projects .projects-title {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
  color: var(--color-4);
  /* border-bottom: 3px solid var(--primary-color); */
  font-weight: 500;
}

.projects-title:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 3px solid var(--color-4);
}

.cards-container {
  margin: 0 auto;
  max-width: 1150px;
}

@media (min-width: 480px) and (max-width: 630px) {
  #projects .projects-container {
    width: 90%;
  }
  .cards-container {
    margin: 0 auto;
    max-width: 650px;
  }
}

@media (max-width: 1151px) {
  #projects .projects-container {
    width: 85%;
  }

  .cards-container {
    margin: 0 auto;
    max-width: 650px;
  }
}
