#contact {
  background-color: var(--background-color-1);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 750px) {
  #contact {
    flex-direction: column;
  }
}
#contact h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: #7e807f;
  margin-right: 4rem;
}
@media (max-width: 750px) {
  #contact h2 {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
#contact .icons-container .icon {
  font-size: 3rem;
  color: #7e807f;
  margin: 0 1rem;
  transition: 0.3s;
}

@media (max-width: 750px) {
  #contact .icons .fab {
    margin: 0 1rem;
  }
}
#contact .icons-container .icon:hover {
  transform: translateY(-2px);
  opacity: 0.85;
}

.tooltips {
  font-size: 1rem;
}
