:root {
  --color-1: #92ffc9;
  --color-2: #5be3e2;
  --color-3: #5ba0e3;
  --color-4: #5b5ce3;
  --color-5: #9e5be3;
  --color-6: #e25be3;

  --primary-color: #5edda6;
  --secundary-color: #464250;
}

/* {
  var(--color-1);
} */
