:root {
  --color-1: #88fcc0;
  --color-2: #575966;
  --color-3: #64e2a3;
  --color-4: #5d5d5d;

  --primary-color: #5c5c5c;
  --secundary-color: #346066;

  --background-color-1: #fff;
  --background-color-2: #fbfbfb;
}

/* {
  var(--color-1);
} */
